.DS_Store
Level 3/Xcode/Level-3-Part-1/Level-3-Part-1.xcodeproj/project.xcworkspace/xcuserdata/
Level 3/Xcode/Level-3-Part-1/Level-3-Part-1.xcodeproj/xcuserdata/
Level 9/Xcode/Level-9-Part-1/Level-9-Part-1.xcodeproj/xcuserdata/
Level 9/Xcode/Level-9-Part-1/Level-9-Part-1.xcodeproj/project.xcworkspace/xcuserdata/