<h1>ToDo List!</h1>
<div id="app"></div>
<div id="todo"></div>
<footer>
  <ul>
    <li><a href="/completed" data-handle="true">View Completed</a></li>
    <li><a href="/support">Support</a></li>
  </ul>
</footer>